*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footerMio{
    text-align: end;
    padding-top: 10px;
}

.fondoCustom{
    background-color: gainsboro;
}

.carousel-custom{
    width: 550px;
    height: 350px;

}

p{
    padding-top: 5px;
}

h3{
    color: red;
    text-decoration: underline;
    padding-left: 250px;
    padding-top: 20px;
}